# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
A1-Implementation/out/build/x64-debug/VSInheritEnvironments.txt
A1-Implementation/out/build/x64-debug/Testing/Temporary/LastTest.log
A1-Implementation/out/build/x64-debug/CMakeFiles/TargetDirectories.txt
A1-Implementation/out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
A1-Implementation/out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
A1-Implementation/out/build/x64-debug/CMakeFiles/rules.ninja
A1-Implementation/out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
A1-Implementation/out/build/x64-debug/CMakeFiles/cmake.check_cache
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/CMakeCXXCompilerId.cpp
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CompilerIdC/CMakeCCompilerId.c
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeSystem.cmake
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeRCCompiler.cmake
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_CXX.bin
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_C.bin
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeCXXCompiler.cmake
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeCCompiler.cmake
A1-Implementation/out/build/x64-debug/CMakeCache.txt
A1-Implementation/out/build/x64-debug/cmake_install.cmake
A1-Implementation/out/build/x64-debug/build.ninja
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/vc140.pdb
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/vc140.idb
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/manifest.res
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/manifest.rc
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/intermediate.manifest
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/embed.manifest
A1-Implementation/out/build/x64-debug/A1-Implementation/cmake_install.cmake
A1-Implementation/out/build/x64-debug/A1-Implementation/A1-Implementation.pdb
A1-Implementation/out/build/x64-debug/A1-Implementation/A1-Implementation.ilk
A1-Implementation/out/build/x64-debug/.ninja_log
A1-Implementation/out/build/x64-debug/.ninja_deps
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-9ba4f212e6d72ab396d3.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/target-A1-Implementation-Debug-d404b32907fde2d5cf1c.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/index-2025-04-07T13-59-54-0445.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/directory-A1-Implementation-Debug-306b448809d23fa2c5b0.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-72ea6138276968691b4a.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-02831c277f6c3e7a3e86.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-e08db3061f433d9f0c98.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
A1-Implementation/.vs/VSWorkspaceState.json
A1-Implementation/.vs/slnx.sqlite
A1-Implementation/.vs/ProjectSettings.json
A1-Implementation/.vs/cmake.db
A1-Implementation/.vs/CMake Overview
A1-Implementation/.vs/A1-Implementation/v17/ipch/AutoPCH/b284bfe6ac2c7ca0/A1-IMPLEMENTATION.ipch
A1-Implementation/.vs/A1-Implementation/v17/DocumentLayout.json
A1-Implementation/.vs/A1-Implementation/v17/DocumentLayout.backup.json
A1-Implementation/.vs/A1-Implementation/v17/Browse.VC.opendb
A1-Implementation/.vs/A1-Implementation/v17/Browse.VC.db-wal
A1-Implementation/.vs/A1-Implementation/v17/Browse.VC.db-shm
A1-Implementation/.vs/A1-Implementation/v17/Browse.VC.db
A1-Implementation/.vs/A1-Implementation/v17/.wsuo
A1-Implementation/.vs/A1-Implementation/FileContentIndex/b79b4f4a-bd90-477f-98fe-71ea15b8d10d.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/50660d65-3790-417d-aee8-ce5330cae018.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/38de3b1d-c61e-47aa-8694-87971974444d.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/2a94b6b0-1244-4728-8129-18aadfa03708.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/1b8e858f-8466-4ad7-b696-f7795fcb2139.vsidx
A1-Implementation/.vs/slnx.sqlite
A1-Implementation/.vs/A1-Implementation/v17/ipch/AutoPCH/837a4762f6b12220/GAME.ipch
A1-Implementation/.vs/A1-Implementation/FileContentIndex/945abd89-b732-4e4d-8295-5e3e718a916a.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/8213fd69-fb47-4c32-a9ee-51eca46bce36.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/14cf8f93-4434-40cb-af36-e3a6683da6d5.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/fcea974d-828b-4d9d-a2bf-ac5daf157c38.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/31659e0a-c83d-40c5-a128-7c1165493597.vsidx
A1-Implementation/.vs/slnx.sqlite
A1-Implementation/.vs/A1-Implementation/FileContentIndex/be05ae76-b67d-4e88-9e02-00dfda37c88c.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/4ce2e44a-38e6-4720-b259-7c323228982d.vsidx
A1-Implementation/.vs/A1-Implementation/v17/ipch/AutoPCH/62d975fb0cf21d39/GAME.ipch
A1-Implementation/.vs/A1-Implementation/FileContentIndex/514232f8-cb3e-4496-84d9-cb6ee70e04a1.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/41dc1d6e-7fee-4fe6-922a-5b8250510f1b.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/e6792357-7502-4616-8789-b1580af300f9.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/b7a5274b-8b2e-433b-8c8a-06d8888cb208.vsidx
A1-Implementation/.vs/A1-Implementation/v17/ipch/AutoPCH/6530263395ecff62/MYUNIQUEPTR.ipch
A1-Implementation/.vs/A1-Implementation/v17/ipch/AutoPCH/44ac2748702aaba/PLAYER.ipch
A1-Implementation/.vs/A1-Implementation/FileContentIndex/cfc66756-1366-42e0-8102-ea90d8f90748.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/3e2c0507-0266-4ca3-af7a-53a4748118f1.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/b8fb32df-b21a-417b-8813-9c02d5892bba.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/92b955ac-e2a7-49ba-85b6-5fae8dd324a9.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/21d01546-b182-4e27-a788-f85af896134c.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/04bf0314-7378-48f7-b39f-a926062e609e.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/698abade-b85c-4a1b-9a25-be7d5ea56437.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/496eea65-f37d-40e5-845a-5b4cca721003.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/350441a0-b71a-44b4-98ad-3d4f7c7fac47.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/128d2ad8-a842-4f27-89ae-887a42b7b4b2.vsidx
