# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
A1-Implementation/out/build/x64-debug/VSInheritEnvironments.txt
A1-Implementation/out/build/x64-debug/Testing/Temporary/LastTest.log
A1-Implementation/out/build/x64-debug/CMakeFiles/TargetDirectories.txt
A1-Implementation/out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
A1-Implementation/out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
A1-Implementation/out/build/x64-debug/CMakeFiles/rules.ninja
A1-Implementation/out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
A1-Implementation/out/build/x64-debug/CMakeFiles/cmake.check_cache
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CompilerIdCXX/CMakeCXXCompilerId.cpp
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CompilerIdC/CMakeCCompilerId.c
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeSystem.cmake
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeRCCompiler.cmake
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_CXX.bin
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeDetermineCompilerABI_C.bin
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeCXXCompiler.cmake
A1-Implementation/out/build/x64-debug/CMakeFiles/3.30.5-msvc23/CMakeCCompiler.cmake
A1-Implementation/out/build/x64-debug/CMakeCache.txt
A1-Implementation/out/build/x64-debug/cmake_install.cmake
A1-Implementation/out/build/x64-debug/build.ninja
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/vc140.pdb
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/vc140.idb
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/manifest.res
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/manifest.rc
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/intermediate.manifest
A1-Implementation/out/build/x64-debug/A1-Implementation/CMakeFiles/A1-Implementation.dir/embed.manifest
A1-Implementation/out/build/x64-debug/A1-Implementation/cmake_install.cmake
A1-Implementation/out/build/x64-debug/A1-Implementation/A1-Implementation.pdb
A1-Implementation/out/build/x64-debug/A1-Implementation/A1-Implementation.ilk
A1-Implementation/out/build/x64-debug/.ninja_log
A1-Implementation/out/build/x64-debug/.ninja_deps
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-9ba4f212e6d72ab396d3.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/target-A1-Implementation-Debug-d404b32907fde2d5cf1c.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/index-2025-04-07T13-59-54-0445.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/directory-A1-Implementation-Debug-306b448809d23fa2c5b0.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-72ea6138276968691b4a.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-02831c277f6c3e7a3e86.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-e08db3061f433d9f0c98.json
A1-Implementation/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
A1-Implementation/.vs/VSWorkspaceState.json
A1-Implementation/.vs/slnx.sqlite
A1-Implementation/.vs/ProjectSettings.json
A1-Implementation/.vs/cmake.db
A1-Implementation/.vs/CMake Overview
A1-Implementation/.vs/A1-Implementation/v17/ipch/AutoPCH/b284bfe6ac2c7ca0/A1-IMPLEMENTATION.ipch
A1-Implementation/.vs/A1-Implementation/v17/DocumentLayout.json
A1-Implementation/.vs/A1-Implementation/v17/DocumentLayout.backup.json
A1-Implementation/.vs/A1-Implementation/v17/Browse.VC.opendb
A1-Implementation/.vs/A1-Implementation/v17/Browse.VC.db-wal
A1-Implementation/.vs/A1-Implementation/v17/Browse.VC.db-shm
A1-Implementation/.vs/A1-Implementation/v17/Browse.VC.db
A1-Implementation/.vs/A1-Implementation/v17/.wsuo
A1-Implementation/.vs/A1-Implementation/FileContentIndex/b79b4f4a-bd90-477f-98fe-71ea15b8d10d.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/50660d65-3790-417d-aee8-ce5330cae018.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/38de3b1d-c61e-47aa-8694-87971974444d.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/2a94b6b0-1244-4728-8129-18aadfa03708.vsidx
A1-Implementation/.vs/A1-Implementation/FileContentIndex/1b8e858f-8466-4ad7-b696-f7795fcb2139.vsidx
A1-Implementation/.vs/slnx.sqlite
